name: Build Ubuntu 18.04 Images

on:
  push:
    branches:
      - main
    paths:
      - 'ubuntu-18.04/*'
      - '.github/workflows/build-ubuntu-18.04.yml'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PAT }}

      - name: Build Docker Container
        uses: docker/build-push-action@v2
        with:
          context: ./ubuntu-18.04
          platforms: linux/amd64,linux/arm64
          push: true
          tags: "chianetwork/ubuntu-18.04-builder:${{ github.sha }},chianetwork/ubuntu-18.04-builder:latest"
